
.dan {
    background-color: rgb(232, 236, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .gg {
   font-weight: 700;
   font-size: larger;
 
   color: #000;
 }
 .jj, .yy, .ss, .op {
   text-align: center;
   font-size: 40px;
 }

 .kk {
   height: 500px;
 }
 .bb {
  display: grid;
  grid-template-columns: 1fr 1fr;
    
 }
 .tt {
  background-color: blue;
  
 }
 

.mm {
   display: block;
   
}